form#card-form {
  display: flex;
  flex-direction: column;
  margin: 30px 50px;
  @media (max-width: 540px) {
    margin: 30px;
  }
  @media (max-width: 500px) {
    margin: 30px 10px;
  }
  div#values {
    margin-top: 10px;
    flex-wrap: wrap;

    > button {
      margin-right: 10px;
      @media (max-width: 500px) {
        margin: 10px 0 0 8px;
      }
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
  #card-number {
    margin-top: 15px;
  }
  div {
    display: flex;
    margin-top: 10px;
    #owner {
      width: 100%;
    }
    #expiry-date {
      // flex: 0 0 50px;
      width: 55px;
      margin-left: 10px;
    }
    #cvv {
      // flex: 0 0 40px;
      width: 40px;
      margin-left: 10px;
    }
  }
  #confirm-purchase {
    width: 100%;
    margin-top: 10px;
  }

}
